[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=3.109.158.93
Environment=CATALOGUE_HOST=3.109.157.233
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target